.adjective {
  color: rgb(247, 61, 240)
}
.header {
  text-align: center
}
.body {
  text-indent: 30px
}
.image_right {
  float:right;
  width:50px;
  height:50px;
}
.image_left {
  float:left;
  width:50px;
  height:50px;
}
